In [2]:
from google.colab import files
uploaded=files.upload()

Saving Train.csv to Train.csv

In [3]:
import pandas as pd
import numpy as np
dataset=pd.read_csv('Train.csv')

In [4]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
dataset['Outlet_Location_Type_Encoded']  = dataset['Outlet_Location_Type'] \
                                            .replace({'Tier 1': 1, 'Tier 2': 2, 'Tier 3': 3})

dataset[['Outlet_Location_Type', 'Outlet_Location_Type_Encoded']].head()

  Outlet_Location_Type  Outlet_Location_Type_Encoded
0               Tier 1                             1
1               Tier 3                             3
2               Tier 1                             1
3               Tier 3                             3
4               Tier 3                             3

In [10]:
Outlet_Type_Dumm = pd.get_dummies(data=dataset['Outlet_Type'], columns=['Outlet_Type'], drop_first=True)

pd.concat([dataset['Outlet_Type'], Outlet_Type_Dumm], axis=1).head()

         Outlet_Type  Supermarket Type1  Supermarket Type2  Supermarket Type3
0  Supermarket Type1                  1                  0                  0
1  Supermarket Type2                  0                  1                  0
2  Supermarket Type1                  1                  0                  0
3      Grocery Store                  0                  0                  0
4  Supermarket Type1                  1                  0                  0

In [13]:
#name of groups
groups = ['Low', 'Med', 'High', 'Exp']

dataset['Item_MRP_Bin_qcut'] = pd.qcut(dataset['Item_MRP'], q=4, labels=groups)
dataset[['Item_MRP', 'Item_MRP_Bin_qcut']].head()

   Item_MRP Item_MRP_Bin_qcut
0  249.8092               Exp
1   48.2692               Low
2  141.6180               Med
3  182.0950              High
4   53.8614               Low

In [15]:
pd.DataFrame(dataset['Item_MRP_Bin_qcut'].value_counts())

      Item_MRP_Bin_qcut
Low                2131
Med                2131
Exp                2131
High               2130

In [17]:
#define bins 
bins = [0, 70, 140, 210, 280]

#name of groups
groups = ['Low', 'Med', 'High', 'Exp']

dataset['Item_MRP_Bin_cut'] = pd.cut(dataset['Item_MRP'], bins=bins, labels=groups)

dataset[['Item_MRP', 'Item_MRP_Bin_cut']].head()

   Item_MRP Item_MRP_Bin_cut
0  249.8092              Exp
1   48.2692              Low
2  141.6180             High
3  182.0950             High
4   53.8614              Low

In [18]:
# Count of each category 
pd.DataFrame(dataset['Item_MRP_Bin_cut'].value_counts())

      Item_MRP_Bin_cut
High              3042
Med               2778
Exp               1362
Low               1341

In [20]:
dataset['Item_Code'] = dataset['Item_Identifier'].apply(lambda x: x[0:2])
dataset[['Item_Identifier', 'Item_Code']].head()

  Item_Identifier Item_Code
0           FDA15        FD
1           DRC01        DR
2           FDN15        FD
3           FDX07        FD
4           NCD19        NC

In [22]:
# Frequency encoding using value_counts function 
Item_Type_freq = dataset['Item_Type'].value_counts(normalize=True)

# Mapping the encoded values with original data 
dataset['Item_Type_freq'] = dataset['Item_Type'].apply(lambda x : Item_Type_freq[x])

print('The sum of Item_Type_freq variable:', sum(Item_Type_freq))
dataset[['Item_Type', 'Item_Type_freq']].head(6)

The sum of Item_Type_freq variable: 1.0

               Item_Type  Item_Type_freq
0                  Dairy        0.080019
1            Soft Drinks        0.052212
2                   Meat        0.049865
3  Fruits and Vegetables        0.144550
4              Household        0.106770
5           Baking Goods        0.076030

In [24]:
dataset['Item_Outlet_Sales_Mean'] = dataset.groupby(['Item_Identifier', 'Item_Type'])['Item_Outlet_Sales']\
                                     .transform(lambda x: x.mean())

dataset[['Item_Identifier','Item_Type','Item_Outlet_Sales','Item_Outlet_Sales_Mean']].tail()

,Item_Identifier,Item_Type,Item_Outlet_Sales,Item_Outlet_Sales_Mean
8518,FDF22,Snack Foods,2778.3834,3232.542225
8519,FDS36,Baking Goods,549.2850,2636.568000
8520,NCJ29,Health and Hygiene,1193.1136,1221.521067
8521,FDN46,Snack Foods,1845.5976,2067.752867
8522,DRG01,Soft Drinks,765.6700,1225.072000